@media (min-width:600px) {

    body {
    //styling rules for body section here

        font-size: 20px;
        color:darkblue
    }
    img {
    //styling rules for images here
        width:80%;
    }
    h1 {
    //styling rules for heading 1s here
    }
    li {
        font-family: "Comic Sans MS";
        color: gray;
    }
    a:link {
        color: hotpink;
        text-decoration: none;
    }
    a:visited {
        color: hotpink;
        text-decoration: none;
    } 
    a:hover {
        text-decoration: underline;
        color: red;
    }
    h1 {
        color: blue;
        font-family: fantasy;
    }
    h2 {
        color:black;
        font-family: monospace;
    }
    #name {
    //styling rules for sections id’d name  here
    }
    #mainContent {
        background: rgba(255,255,150,0.8)
    }
    #textContent {
        background: rgba(155,255,150,0.8)
    }
}
@media (max-width:600px) {
    img{
        width:50%;
    }  
    #mainContent {
        float:left;
        width:30%;
        padding: 1%;
        margin:0;
        height:200px;
    }
    #textContent {
        float:left;
        width:30%;
        padding:1%;
        margin:0;
        height:200px;
    }
    }
}